= form_for @type do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :magic
    = f.check_box :magic, class: 'form-control'    
  .form-group
    = f.label :shooting
    = f.check_box :shooting, class: 'form-control'      
  .form-group
    = f.label :flying
    = f.check_box :flying, class: 'form-control'          
    
  = f.submit 'Zapisz', class: 'btn btn-default'