.panel.panel-default
  .panel-heading 
    Lista typów jednostek
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_troop_type_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', troop_types_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Shooting
          %th Magic
          %th Flying
          %th Troops
          %th Akcja
      %tbody  
        - @types.each_with_index do |type, i|
          %tr{ id: dom_id( type ) }
            %td= i + 1
            %td= type.name
            %td= content_tag :span, '', class: ( type.shooting ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-minus-sign' )
            %td= content_tag :span, '', class: ( type.magic    ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-minus-sign' )
            %td= content_tag :span, '', class: ( type.flying   ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-minus-sign' )
            %td= raw type.troops.collect{ |t| link_to t.name, edit_troop_path( t ) }.to_sentence
            %td
              .btn-group
                = link_to 'Edytuj', edit_troop_type_path( type ), class: 'btn btn-default'
                = link_to 'Usuń', type, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
