= form_for @mine do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'   
  .form-group
    = f.label :sprite
    = f.hidden_field :sprite
    .sprite
      = image_tag 'buildings.png', height: 100, width: 400    

  = f.submit 'Zapisz', class: 'btn btn-default'