.panel.panel-default
  .panel-heading Lista kopalni
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_mine_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', mines_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Sprite
          %th Akcja
      %tbody  
        - @mines.each_with_index do |mine, i|
          %tr{ id: dom_id( mine ) }
            %td= i + 1
            %td= mine.name
            %td
              .display-sprite
                = image_tag 'buildings.png', height: 100, style: "margin-left: -#{ mine.sprite * 50 }px;"              
            %td
              .btn-group
                = link_to 'Edytuj', edit_mine_path( mine ), class: 'btn btn-default'
                = link_to 'Usuń', mine, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
