= form_for @hero, url: hero_path( @hero ) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :town
    = f.select :town_id, Town.by_name.collect{ |t| [t.name, t.id] }, { prompt: 'Wybierz miasto' }, class: 'form-control'
    
  = f.submit 'Zapisz', class: 'btn btn-default'