.panel.panel-default
  .panel-heading Bohaterowie
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_hero_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', heroes_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Town
          %th Akcja
      %tbody  
        - @heroes.each_with_index do |hero, i|
          %tr{ id: dom_id( hero ) }
            %td= i + 1
            %td= hero.name
            %td= link_to hero.town.name, edit_town_path( hero.town ) if hero.town
            %td
              .btn-group
                = link_to 'Edytuj', edit_hero_path( hero ), class: 'btn btn-default'
                = link_to 'Usuń', hero, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true      