Window {
	BorderColor: #00000000;
	BackgroundColor: #000000AA;
	Color: #FFFFFFFF;
}

#mainMenu {
	BorderColor: #00000000;
	BackgroundColor: #00000000;
	Color: #FFFFFFFF;
	Gap: 0;
}

#mainMenu Button {
	BorderColor: #00000000;
	BackgroundColor: #00000000;
	Color: #00000000;
	Padding: 12;
}