#sideBar
{
	BorderColor: #99552FFF;
	BackgroundColor: #AB5F35FF;
	Color: #141414FF;
}

#topBar
{
	BorderColor: #99552FFF;
	BackgroundColor: #AB5F35FF;
	Color: #141414FF;
}

Window {
	BorderColor: #99552FFF;
	BackgroundColor: #AB5F35FF;
	Color: #FFFFFFFF;
	TitleBackgroundColor: #99552FFF;
}

Button {
	BorderColor: #99552FFF;
	BackgroundColor: #BC6026FF;
	Color: #FFFFFFFF;

}

#townBg {
	BackgroundColor: #FAFAFAFF;
}