= form_for @ground do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :color
    = f.text_field :color, class: 'form-control', placeholder: 'Hex (#XXXXXX)'
  .form-group
    = f.label :sprite
    = f.hidden_field :sprite
    .sprite
      = image_tag 'ground.png', height: 100, width: 400
  .form-group
    = f.label :cost
    = f.text_field :cost, class: 'form-control'
  / .form-group
  /   = f.label :probability
  /   = f.text_field :probability, class: 'form-control'    


  = f.submit 'Zapisz', class: 'btn btn-default'