.panel.panel-default
  .panel-heading Lista powierzchni
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_ground_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', grounds_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Color
          %th Sprite
          %th Cost
          %th Akcja
      %tbody  
        - @grounds.each_with_index do |ground, i|
          %tr{ id: dom_id( ground ) }
            %td= i + 1
            %td= ground.name
            %td{ style: "color: #{ ground.color };" }
              = ground.color
            %td
              .display-sprite
                = image_tag 'ground.png', height: 100, style: "margin-left: -#{ ground.sprite * 50 }px;"
            %td= ground.cost            
            %td
              .btn-group
                = link_to 'Edytuj', edit_ground_path( ground ), class: 'btn btn-default'
                = link_to 'Usuń', ground, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
