= form_for @troop do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label  :town_id
    = f.select :town_id, Town.by_name.collect{ |t| [t.name, t.id] }, { prompt: 'Wybierz miasto' }, class: 'form-control'
  .form-group
    = f.label  :troop_type_id
    = f.select :troop_type_id, TroopType.by_name.collect{ |t| [t.name, t.id] }, { prompt: 'Wybierz typ jednostki' }, class: 'form-control'    
  .form-group
    = f.label :cost
    = f.number_field :cost, class: 'form-control'    
  .form-group
    = f.label :level
    = f.number_field :level, class: 'form-control'    
  .form-group
    = f.label :upgrade
    = f.check_box :upgrade, class: 'form-control'        
  .form-group
    = f.label :abilities
    = f.number_field :abilities, class: 'form-control'
  .form-group
    = f.label :max_health
    = f.number_field :max_health, class: 'form-control'
  .form-group
    = f.label :max_damage
    = f.number_field :max_damage, class: 'form-control'
  .form-group
    = f.label :min_damage
    = f.number_field :min_damage, class: 'form-control'
  .form-group
    = f.label :range
    = f.number_field :range, class: 'form-control'
    
  = f.submit 'Zapisz', class: 'btn btn-default'