.panel.panel-default
  .panel-heading Lista jednostek
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_troop_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', troops_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Town
          %th Type
          %th Cost
          %th Level
          %th Upgrade
          %th Abilities
          %th Max Health
          %th Max Damage
          %th Min Damage
          %th Range
          %th Akcja
      %tbody  
        - @troops.each_with_index do |troop, i|
          %tr{ id: dom_id( troop ) }
            %td= i + 1
            %td= troop.name
            %td= link_to troop.town.name, edit_town_path( troop.town )       if troop.town
            %td= link_to troop.type.name, edit_troop_type_path( troop.type ) if troop.type
            %td= troop.cost
            %td= troop.level
            %td= content_tag :span, '', class: ( troop.upgrade ? 'glyphicon glyphicon-ok-sign' : 'glyphicon glyphicon-minus-sign' )
            %td= troop.abilities
            %td= troop.max_health
            %td= troop.max_damage
            %td= troop.min_damage
            %td= troop.range
            %td
              .btn-group
                = link_to 'Edytuj', edit_troop_path( troop ), class: 'btn btn-default'
                = link_to 'Usuń', troop, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
