<!DOCTYPE html>
<html>
<head>
  <title>Heroes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/shared/globalheader' %>
<div class='root'>
  <div class='container'>
    <%= render 'layouts/shared/notice' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
