= form_for @map do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :victory_condition
    = f.select :victory_condition, [ [ 'Zdobycie wszystkich miast' ], [ 'Zdobycie wszystkich budynków' ], [ 'Zgromadzenie surowców' ], [ 'Pokonanie wszystkich jednostek przeciwnika' ] ], { prompt: 'Warunki zwycięstwa' }, class: 'form-control'  
  .form-group
    = f.label :defeat_condition
    = f.select :defeat_condition, [ [ 'Utrata wszystkich miast' ], [ 'Utrata wszystkich budynków' ], [ 'Utrata wszystkich jednostek' ], [ 'Utrata wszystkich miast i jednostek' ], [ 'Utrata wszystkich surowców' ] ], { prompt: 'Warunki porażki' }, class: 'form-control'

  - if f.object.new_record?
    .form-group
      = f.label :is_random
      = f.check_box :is_random, class: 'form-control' 
    / .form-group
    /   = f.label :town_count
    /   = f.number_field :town_count, class: 'form-control', value: 0
    .form-group
      = f.label :size
      = f.select :size, [ [ '16x16', 16 ], [ '32x32', 32 ], [ '48x48', 48 ] ], { prompt: 'Wybierz rozmiar' }, class: 'form-control'  
    /.form-group
    /  = f.label :height
    /  = f.number_field :height, class: 'form-control'
    /.form-group
    /  = f.label :width
    /  = f.number_field :width, class: 'form-control'        

  = f.submit 'Zapisz', class: 'btn btn-default'