.panel.panel-default
  .panel-heading 
    = "Edytuj pola mapy '#{ @map.name }' (#{ @map.width } x #{ @map.height })"
  .panel-body

    .row.selector
      .col-lg-3  
        %h3 Powierzchnie
        - @grounds.each_with_index do |ground, i|
          .radio
            %label
              = radio_button_tag( :ground_id, ground.id, ( i == 0 ? true : false ), data: { sprite: ground.sprite } )
              = ground.name

      .col-lg-3  
        %h3 Wybór powierzchni
        .radio
          %label
            = radio_button_tag( :mode_id, 1, true )
            Pojedyńczo
        .radio
          %label
            = radio_button_tag( :mode_id, 2, false )
            Zaznaczenie            

      .col-lg-3
        %h3 Miasta
        .radio
          %label
            = radio_button_tag( :town_id, 0, true, data: { sprite: -1 } )
            Brak
        - @towns.each do |town|
          .radio
            %label
              = radio_button_tag( :town_id, town.id, false, data: { sprite: town.sprite } )
              = town.name    

      .col-lg-3
        %h3 Kopalnie
        .radio
          %label
            = radio_button_tag( :mine_id, 0, true, data: { sprite: -1 } )
            Brak
        - @mines.each do |mine|
          .radio
            %label
              = radio_button_tag( :mine_id, mine.id, false, data: { sprite: mine.sprite } )
              = mine.name                     

    .fields{ data: { map_id: @map.id, path: fields_path, size: @map.width } }
      .inner
        - @fields.each_with_index do |field, i|
          .field{ data: { y: field.y, x: field.x } }
            - if field.town
              .field-sprite.building{ style: "background-position: -#{ field.town.sprite * 50 }px 0; z-index: #{ field.y + field.x };" }
            - elsif field.mine
              .field-sprite.building{ style: "background-position: -#{ field.mine.sprite * 50 }px 0; z-index: #{ field.y + field.x };" }
            - elsif field.ground
              .field-sprite.ground{ style: "background-position: -#{ field.ground.sprite * 50  }px 0; z-index: #{ field.y + field.x };" }
            - else
              .field-sprite.ground{ style: "z-index: #{ field.y + field.x };" }
          - if field.x == @map.width
            .clear
      .clear