.panel.panel-default
  .panel-heading Lista map
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_map_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', maps_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Size
          %th Victory
          %th Defeat
          %th Max Player Count
          %th Max Town Count
          %th Akcja
      %tbody  
        - @maps.each_with_index do |map, i|
          %tr{ id: dom_id( map ) }
            %td= i + 1
            %td= map.name
            %td= "#{ map.width } x #{ map.height }"
            %td= map.victory.to_s
            %td= map.defeat.to_s
            %td= map.max_player_count
            %td= map.max_town_count
            %td
              .btn-group
                = link_to 'Pobierz', map_path( map, format: :json ), class: 'btn btn-default', target: '_blank'
                = link_to 'Edytuj', edit_map_path( map ), class: 'btn btn-default'
                = link_to 'Edytuj pola', fields_map_path( map ), class: 'btn btn-default'
                / = link_to 'Losowa mapa', randomize_map_path( map ), class: 'btn btn-default', data: { confirm: 'Pola zostaną nadpisane. Jesteś pewien?' }
                = link_to 'Usuń', map, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
