.root {
  padding: 40px 15px;
}

.glyphicon {
  font-size: 1.4em;

  &.glyphicon-ok-sign {
    color: #27ae60;
  }

  &.glyphicon-minus-sign {
    color: #c0392b;
  }  
}

.dataTables_wrapper,
.table {
  margin-top: 1em;
}

.fields {
  float: left;
  overflow-x: scroll;
  max-width: 100%;

  .inner {
    float: left;
    width: 3136px;
  }

  .clear {
    clear: both;
  }

  .field {
    border: 1px solid #bbb;
    cursor: pointer;
    float: left;
    height: 50px; width: 50px;
    margin: -1px 0 0 -1px;
    position: relative;

    &:hover, &.active {
      background: #777;
      background: rgba( 0, 0, 0, .7 );

      .field-sprite {
        opacity: 0.3;
      }
    }
  }

  .field-sprite {
    height: 98px; width: 48px;
    position: absolute; left: 0; top: -50px;

    &.building {
      background: asset-url( 'buildings.png' ) 0 0 no-repeat;
    }

    &.ground {
      background: asset-url( 'ground.png' ) 0 0 no-repeat;
    }
  }

  &:hover {
    .field {
      overflow: hidden;
    }
  }
}

.selector {
  margin-bottom: 1.5em;
}

.sprite {
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute; left: 0; top: 0;
    z-index: 9;
  }

  li {
    cursor: pointer;
    float: left;
    height: 100px; width: 50px;

    &:hover, &.active {
      background: rgba( 0, 0, 0, .25 );
      border: 1px solid #333;
    }
  }
}

.display-sprite {
  height: 100px; width: 50px;
  overflow: hidden;
}