.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '.navbar-collapse', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        - (1..3).each do
          %span.icon-bar
      = link_to 'Heroes 3.14', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = menu_link_to 'Home', root_path
        = menu_link_to 'Mapy', maps_path
        = menu_link_to 'Powierzchnie', grounds_path
        = menu_link_to 'Kopalnie', mines_path
        = menu_link_to 'Miasta', towns_path
        = menu_link_to 'Bohaterowie', heroes_path
        = menu_link_to 'Jednostki', troops_path
        = menu_link_to 'Typy jednostek', troop_types_path

