.panel.panel-default
  .panel-heading Lista miast
  .panel-body
    .btn-group
      = link_to 'Dodaj', new_town_path, class: 'btn btn-default'
      = link_to 'Pobierz JSON', towns_path( format: :json ), class: 'btn btn-default', target: '_blank'
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Name
          %th Ground
          %th Sprite
          %th Heroes
          %th Troops
          %th Akcja
      %tbody  
        - @towns.each_with_index do |town, i|
          %tr{ id: dom_id( town ) }
            %td= i + 1
            %td= town.name
            %td= link_to town.ground.name, edit_ground_path( town.ground ) if town.ground
            %td
              .display-sprite
                = image_tag 'buildings.png', height: 100, style: "margin-left: -#{ town.sprite * 50 }px;"            
            %td= raw town.heroes.by_name.collect{ |h| link_to h.name, edit_hero_path( h ) }.to_sentence
            %td= raw town.troops.by_name.collect{ |t| link_to t.name, edit_troop_path( t ) }.to_sentence
            %td
              .btn-group
                = link_to 'Edytuj', edit_town_path( town ), class: 'btn btn-default'
                = link_to 'Usuń', town, class: 'btn btn-default', data: { confirm: 'Jesteś pewien?' }, method: :delete, remote: true
            
